/* _content/CompanyApp.Component.Auditing/Component1.razor.rz.scp.css */
.my-component[b-6bp07a1l58] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
