/* _content/CompanyApp.Components.Auditing.Realtime/Component1.razor.rz.scp.css */
.my-component[b-fpflmadt49] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
